img {
    width: 400px;
}
body {
    text-align: center;
    font-family: fantasy;
}
#easy {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border-color: black;
    background-color: red;
    font-size: 50px;
    color: white;
}